/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
forge/
groups/
users/
acacha-forms/
acacha-adminlte-vue-forms/
adminlte-vue
.idea_old